<%= render 'layouts/navbar'%>

<%= link_to "Create new team", new_team_path, class: "btn btn-primary" %>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Created at</th>
      <th scope="col">Operation</th>
    </tr>
  </thead>
  <tbody>
  <% @teams.each_with_index do |team,i| %>
    <tr>
      <th scope="row"><%= i+1 %></th>
      <td><%= team.name %></td>
      <td><%= team.created_at %></td>
      <td>
      <%= link_to "Edit", edit_team_path(team.id) %> 
      | 
      <%= link_to 'Delete', team_path(team.id), :method => :delete, data: {confirm: "Are you sure?"} %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>