<!DOCTYPE html>
<html>
  <head>

  <script src="https://www.gstatic.com/firebasejs/5.5.4/firebase.js"></script>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script>
//  Initialize Firebase
  var config = {
    apiKey: "AIzaSyCi8QlIsoY7-hWJ1TtK5UcXFzhIVfPLV4Y",
    authDomain: "authtutorial-12ac0.firebaseapp.com",
    databaseURL: "https://authtutorial-12ac0.firebaseio.com",
    projectId: "authtutorial-12ac0",
    storageBucket: "authtutorial-12ac0.appspot.com",
    messagingSenderId: "1044540275050"
  };
  firebase.initializeApp(config);
</script>

    <title>InternDemo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>

    <%= javascript_tag "window._token = '#{form_authenticity_token}'" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
